.widget {
    display: flex;
    justify-content: space-between;
    flex: 2;
    color: white;
    padding: 18px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(54, 2, 84, 0.47);
    border-radius: 10px;
    height: 150px;
    margin:10px;
    background-color: rgb(145, 114, 199);
    &:hover{
        background-color: rgb(112, 28, 195);
    }
    cursor: pointer;
    .left,
    .right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      
  
      .title {
        font-weight: bold;
        font-size: 14px;
        color: rgb(160, 160, 160);
      }
  
      .counter {
        font-size: 28px;
        font-weight: 300;
      }
  
      .link {
        width: max-content;
        font-size: 18px;
        border-bottom: 1px solid gray;
        text-decoration: none;
        color: white;
        
      }
  
      .percentage {
        display: flex;
        align-items: center;
        font-size: 14px;
  
        &.positive {
          color: White;
        }
        &.negative {
          color: red;
        }
      }
  
      .icon {
        font-size: 18px;
        padding: 5px;
        border-radius: 5px;
        align-self: flex-end;
      }
    }
  }